body {
  margin: 0;
  font-family: "Roboto", "Arial", sans-serif;
  background-color: #849d8f;
  color: #ffffff;
}

a {
  text-decoration: none;
  color: #ffffff;
}

ul {
  list-style: none;

}

.container {
  width: 1146px;
  margin: 0 auto;
}

.visually-hidden:not(:focus):not(:active),
input[type='checkbox'].visually-hidden,
input[type='radio'].visually-hidden {
  position: absolute;

  overflow: hidden;
  clip: rect(0 0 0 0);

  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  white-space: nowrap;
  border: 0;
  -webkit-clip-path: inset(100%);
  clip-path: inset(100%);
}

.header {
  display: flex;
  justify-content: space-between;
  position: relative;
  margin-top: 9px;
}

.header-navigation {
  display: flex;
}

.logo {
  width: 154px;
  height: 64px;
}


.site-navigation {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0;
  margin-left: 10px;
  margin-right: 100px;
  min-width: 300px;
  padding: 0;
}

.site-navigation > li {
  position: relative;
  padding: 5px 12px 6px 12px;
  border: 5px solid transparent;

  margin: 0;
}

.site-navigation > li:hover {
  background-color: #ffffff;
  background-clip: padding-box;

  color: #323232;
  border-radius: 20px;
  border: 5px solid transparent;


}

.site-navigation a {
  display: block;
  min-width: 10px;
  font-size: 16px;
  line-height: 18px;
  font-weight: 700;
  border-bottom: 1px solid rgba(255, 255, 255, 0.3);
  text-align: center;
  color: inherit;
}

.catalog-submenu {
  display: none;
}

.catalog-submenu li {
  padding: 2px 9px 2px 6px;
}

li:hover .catalog-submenu {
  display: block;
  position: absolute;
  background-color: #ffffff;
  width: 143px;
  position: absolute;
  left: -8px;
  top: 36px;
  padding: 4px 0;
  margin: 0;
  border-radius: 5px;
  box-shadow: 0px 20px 20px 0 rgba(0, 0, 0, 0.4);
}

.catalog-submenu a {
  display: block;
  min-width: 20px;
  font-size: 14px;
  line-height: 16px;
  font-weight: 400;
  color: #323232;
  text-decoration: none;
  text-align: left;
  padding: 6px 0 6px 14px;

}

.catalog-submenu li:hover {
  background-color: #fbded8;
}

.new a {
  font-weight: 700;
  border-bottom: 1px solid rgba(0, 0, 0, 0.4);

}




.right-header {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  align-items: center;
  min-width: 200px;
}

.search input {
  display: none;
}

input.search::placeholder {
  font-size: 14px;
  line-height: 24px;
  font-weight: 500;
  color: #999999;
}

.logon,
.shopping-cart {
  font-size: 14px;
  line-height: 16px;
  font-weight: 500;
  color: #ffffff;
}

.work-time {
  position: absolute;
  right: 10px;
  top: 50px;
  display: block;
  width: 300px;
  font-size: 14px;
  line-height: 16px;
  font-weight: 700;
  color: #ffffff;
  text-align: right;
}

.work-time a {
  font-size: 22px;
  line-height: 24px;
}

.button {
  display: inline-block;
  vertical-align: middle;
  background-image: linear-gradient(to top, #e74a35, #f26843);
  padding: 10px 15px;
  min-width: 50px;
  border-radius: 20px;
}

.slider {
  font-size: 60px;
  line-height: 60px;
  font-weight: 700;
  color: #ffffff;
}

.slider a {
  font-size: 32px;
  line-height: 44px;
}

.promo-items h3 {
  font-size: 35px;
  line-height: 41px;
  font-weight: 700;
  color: #ffffff;
}

.promo-items p {
  font-size: 18px;
  line-height: 22px;
  font-weight: 700;
  color: #ffffff;
}

.promo-items a {
  font-size: 18px;
  line-height: 24px;
  font-weight: 700;
}

.catalog-item-container {
  display: block;
  position: relative;
  color: #ffffff;
  display: block;
  width: 267px;
  padding: 6px 13px 10px 13px;
  margin-right: 0;
  margin-top: 24px;
}

li:nth-child(4n) .catalog-item-container {
  margin-right: -13px;
}

li:nth-child(4n-3) .catalog-item-container {
  margin-left: -13px;
}

.popular-goods-list,
.catalog-list {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  padding: 0;
}

.catalog-item:hover .catalog-item-container {
  position: relative;
  background-color: #f8f7f433;
  box-shadow: 0px 20px 20px 0 rgba(0, 0, 0, 0.4);
  border-radius: 5px;
  margin-bottom: -74px;
  text-align: center;

  z-index: 20;
}



.catalog-item:hover a.quick-view {
  display: inline-block;
  vertical-align: middle;
  text-align: center;
  font-size: 18px;
  line-height: 24px;
  left: 20px;


  box-shadow: 0px 1px 2px 0 #ac1000;



  text-decoration: none;
  color: #ffffff;
  margin: 15px auto;

}

.catalog-item img {
  border-radius: 50%;
  border: 10px red;
  margin-bottom: 6px;
}

.catalog-item a {
  display: block;
  text-decoration: underline;
  color: rgba(255, 255, 255, 0.3);
  text-align: center;
  font-size: 16px;
  line-height: 22px;
  font-weight: 500;
}

a.quick-view {

  display: none;
}



/* делаем цвет ссылки отличным от цвета подчеркивания */
.underlined {
  color: #ffffff;
  padding: 0 10px;
}

.price {
  position: absolute;
  left: 13px;
  top: 216px;
  font-size: 45px;
  font-weight: 700;
  line-height: 45px;
  text-shadow: 0.5px 0.9px 3px rgba(49, 50, 53, 0.5);

}

.weight {
  font-size: 30px;
  line-height: 45px;
  font-weight: 700;

}

.hit {
  position: absolute;
  top: 7px;
  left: 14px;
}
